footer {
    height: $headerheight;
    background-color: #06c;
    padding: 15px;
    text-align: center;
    ul{
        list-style-type: none;
    }
    li{
        display: inline;
        padding: 10px 12px;
        a:link, a:visited{
            text-decoration: none;
            color: #fff;
        }
    }
    h2{
        color: #fff;
    }
  }